.spinner {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  place-items: center;

  pointer-events: none;
  user-select: none;
}

.spinnerImg {
  animation-name: spinner;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
