.btnDoDamage {
  padding-inline: 0.5em;

  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  user-select: none;

  border-radius: var(--border-radius-input);
  border-block-start: 2px solid var(--border-color-light);
  border-block-end: 2px solid var(--border-color-dark);
  border-inline-start: 2px solid var(--border-color-light);
  border-inline-end: 2px solid var(--border-color-dark);

  background-color: rgb(255, 210, 210);
}
